<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='stylesheets/team5Page.css') }}"
  />
</head>
<body>
    <div id = "instructions">
    <h1> What's for Dinner?</h1>
    <p> I'm assuming that since you have come to my page, you need ideas on what to cook for dinner. Well guess what...you have come to the right place! </p>
    <img src= "https://hips.hearstapps.com/hmg-prod/images/shrimp-pasta-recipes-shrimp-broccoli-sun-dried-tomato-pasta-1650987150.jpeg" alt=" Shrimp dinner" style="width:25%;height:15%;">

    <h5> Complete this form below and we will generate a dish for you!</h5>
    <p>Here is how it works:</p>
    <p> There is an AI robot called chatgpt which is able to answer a myriad of questions and generate responses for users. This page is connected 
        to chat gpt and is therefore able to answer your questions related to plausible dishes to make for dinner. If you are running out of ideas
        or are just unsure of how to mix two ingedients to make a dish, just type in the ingredients you have and we will generate a dish with 
        some instructions on how to cook it. 
    </p>
    <h5> Try it! Type in shrimp and garlic and see what dish chat GPT generates for you. Once you are done come back and try it again with 
    the ingredients you have</h5>
    <form method="post" action = "/dinner_menu">
        <textarea name="prompt" style="width: 30%; height: 20%"></textarea>
        <input type="submit" value="Get Dish" />
      </form>

      <div class="bottomNav">
        <a href="/team_5_page">
          <div id="minsungNavBtn">Go Back to Team Page</div>
        </a>
      </div>
</div>

    

</body>
</html>
