<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ianna's Page!</title>
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='stylesheets/team5Page.css') }}"
  />
</head>
<body>
    <h1> Welcome to Ianna's Homepage!</h1>
    <nav id = "iannaNav">
       
        <a href="/team_5_page"> Team Page</a>
        <a href="/"> Home Page</a>
        <a href="/dinner_description"> Dinner Page</a>
    </nav>    

    <h4> Hello all...</h4>
    <p> Please click on my Dinner page in order to check out some yummy recipies...</p>
    <p> Feel free to redirect and view the homepage or team page!</p>
</body>
</html>