<html>
  <head>
    <title>cs103spr2023</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='stylesheets/roseHome.css') }}"
    />
  </head>
  <body>
    <div class="mainContainer">
      <h1>Rose's Homepage</h1>
    <ul>
      <li>
        <a href="/get_dessert_about">get_dessert, a method that gives you a dessert using any set of ingredients! (ca01 prompt engineering)</a>
      </li>
      <li></li>
    </ul>
    <span>
      <a href="/team_5_page">
        <div>Team5</div>
      </a>
      <a href="/">
        <div>Home</div>
      </a>
    </span>
    </div>
  </body>
</html>
