<!DOCTYPE html>
<html lang="en">

<head>
    <title>CS103Spring2023</title>
    <link
    rel="stylesheet"
    href="{{url_for('static', filename='stylesheets/team5Page.css')}}"
    />
</head>

<body>
    <h1> Cooking Lunch Description</h1>
    <hr>   
    <b>Description:</b>
    <p>
        Have you ever been in a situation where you have a bunch of random ingredients in your kitchen,
        but you don't know what to make for lunch? Well this is the perfect solution for you!
        This web application allows users to input a list of ingredients
        into the Team 5 GPT web app API and it will return a recipe that uses those specific ingredients. 
        We'll help you find the perfect recipe in a jiffy! 
    </p>
    <hr>
    <a href="/lunch_recipe">
        <button>Click here to try it!</button>
    </a>
</body>