<!DOCTYPE html>
<html lang="en">

<head>
    <title>CS103Spring2023</title>
    <link
    rel="stylesheet"

    href="{{url_for('static', filename='stylesheets/team5Page.css')}}"
    />
</head>

<body>
    <h1>Your Perfect Lunch Recipe!</h1>
    <hr>
    <p>Based on the ingredients that you provided, this is a great recipe for you to try making for lunch today!</p>    
    <pre>{{ data.response }}</pre>
    <hr>
    <a href="/lunch_recipe">Get Another Recipe!</a>
    <br>
    <a href="team5Page">Team 5 Page</a>
</body>