<!DOCTYPE html>
<html lang="en">

<head>
    <title>CS103Spring2023</title>
    <link
    rel="stylesheet"

    href="{{url_for('static', filename='stylesheets/team5Page.css')}}"
    />
</head>

<body>
    <h1>Shaithea's Homepage! </h1>
    <hr>

    <p>COSI103A Creative Assignments:</p>
    <nav id="shaitheaHomepage">
        <ul>
            <li>
                <a href="/COSI103-Team5/ca01/templates/shaithea/getLunchRecipe.html">getLunchRecipe (CA01)</a>
            </li>
        </ul>
    </nav>
    <p></p>
    <hr>

    <a href="/team_5_page">Team 5 Page</a>
    <br>
    <a href="/"> Home Page</a>
</body>
</html>
