body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.p-around {
  padding: 10px;
}

#addNewTransaction {
  display: flex;
  flex-direction: column;
  width: 220px;
}

#addNewTransCon {
  margin-top: 10px;
}