<html>
  <head>
    <title>cs103spr2023</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='stylesheets/team5Page.css') }}"
    />
  </head>
  <body>
    <h1>Team 5</h1>
    <div id="teamMembersContainer">
      <div id="minsungBio">
        <div class="bioHeader">MinSung Kim</div>
        <div class="bioText">
          Hello! I am a senior at Brandeis majoring in Computer Science. Check
          out my page to see my projects! For ca01 I was in charge of creating
          the breakfast recipe prompt.
        </div>
        <a href="/minsung_home">
          <div id="minsungPageBtn">Go to MinSung's Page!</div>
        </a>
      </div>
    </div>

    <div id="teamMembersContainer">
      <div id="minsungBio">
        <div class="bioHeader">Shaithea Alam</div>
        <div>/* some bio goes here */</div>
        <a href="/minsung_home">
          <div id="minsungPageBtn">Go to MinSung's Page!</div>
        </a>
      </div>
    </div>

    <div id="teamMembersContainer">
      <div id="iannaBio">
        <div class="bioHeader">Ianna Gilbert</div>
        <div>
          I am Ianna Gilbert, an undergraudate student at Brandeis University
          double majoring in computer science and environmental studies. My role was
          to create the dinner recipies. Please feel free to check
          out my page if you need reocmmendations on what to cook for you next
          dinner!
        </div>
        <a href="/ianna_home">
          <div id="iannaPageBtn">Go to Ianna's Page!</div>
        </a>
      </div>
    </div>

    <div id="teamMembersContainer">
      <div id="minsungBio">
        <div class="bioHeader">Rose Nolan</div>
        <div>/* some bio goes here */</div>
        <a href="/minsung_home">
          <div id="minsungPageBtn">Go to MinSung's Page!</div>
        </a>
      </div>
    </div>
    <button onclick="history.back()">Home</button>
  </body>
</html>
