<html>
  <head>
    <title>cs103spr2023</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='stylesheets/team5Page.css') }}"
    />
  </head>
  <body>
    <h1>Team 5</h1>
    <div id="teamMembersContainer">
      <div id="minsungBio">
        <div class="bioHeader">MinSung Kim</div>
        <div>
          I'm minsung. this is my section. this is a short bio. Visit my page to
          see my projects.
        </div>
        <a href="/minsung_home">
          <div id="minsungPageBtn">Go to MinSung's Page!</div>
        </a>
      </div>
    </div>

    <div id="teamMembersContainer">
      <div id="minsungBio">
        <div class="bioHeader">Shaithea Alam</div>
        <div>/* some bio goes here */</div>
        <a href="/minsung_home">
          <div id="minsungPageBtn">Go to MinSung's Page!</div>
        </a>
      </div>
    </div>

    <div id="teamMembersContainer">
      <div id="iannaBio">
        <div class="bioHeader">Ianna Gilbert</div>
        <div>I am Ianna Gilbert, a chef at one of the top restaurants in New York and my main specialty is with dinner dishes.
          Please feel free to check out my page if you need reocmmendations!</div>
        <a href="/ianna_home">
          <div id="iannaPageBtn">Go to Ianna's Page!</div>
        </a>
      </div>
    </div>

    <div id="teamMembersContainer">
      <div id="minsungBio">
        <div class="bioHeader">Rose Nolan</div>
        <div>/* some bio goes here */</div>
        <a href="/minsung_home">
          <div id="minsungPageBtn">Go to MinSung's Page!</div>
        </a>
      </div>
    </div>
    <button onclick="history.back()">Home</button>
  </body>
</html>
