<!-- <div>Here is your bedtime story!: <%- story %></div> -->

<div>
    <h2>Here is your bedtime story!</h2>
    
    </div>
        <h2><%- story %></h2>
        [story inserted here]
    <div>

    <hr>
    <a href="/shaithea">Generate Another Story!</a>
</div>
