<h1>Shaithea's About Page</h1>

<div class="aboutPage">
    <h1>name of the app (?)</h1>
    <h3>Shaithea Alam</h3>

    <div class="aboutApp">
        <p>insert paragraph about what the app does</p>
    </div>

</div>