<h1>Shaithea's About Page</h1>

<div class="aboutPage">
    <h1>name of the app (?)</h1>
    <h3>Shaithea Alam</h3>

    <div class="aboutApp">
        <p>this app takes your ideas and creates a bedtime story for you!</p>
    </div>

</div>