<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shaithea's App</title>
    <link rel="stylesheet" href="shaithea.css">
    <script type="text/javascript" src="/javascript/shaithea.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>

<h1>Bedtime Story Generator!</h1>
<h3>Shaithea Alam</h3>

<div id="colContainer">
    <div id="rowContainer">
      <div id="storyContainer">
        <input id="contentBox" type="text" placeholder="Content For Your Bedtime Story" name="storyContent" />
        
        <div id="inputButtonsContainer">
          <button id="clearFields" onclick="clearFields()">Clear</button>
          <button id="generate" onclick="generateStory()">Generate Story</button>
        </div>

        <div id="errors"></div>
      </div>

      <div id="storyCatalog">
        <h3>Saved Stories</h3>
        <div id="displayItemContainer">
          <% pages.forEach(prevQuery => { %>
          <a href="/shaithea/demo_page/<%= page._id %>">
            <div class="displayStory">
              <form method="post" action = "/bedtime_story">
                <textarea name="prompt" size="50"></textarea>
                <br>
                <input type="submit" value="Get Bedtime Story!" />
              </form>
              <div><%= page.name %></div>
            </div>
          </a>
          <% }) %>
        </div>
      </div>
    </div>
    <div>
      <a href="/shaithea/about">About this app</a>
    </div>
  </div>


<body>
    
</body>

</html>