<h1>Shaithea's About Page</h1>
<!-- <div class="aboutPage"> -->
    <hr>
    <h1>Welcome to the Bedtime Story Generator!</h1>

    <div class="aboutApp">
        <p>This app takes your ideas and creates a sweet little bedtime story for you!</p>
    </div>

    <div>
        <a href="/shaithea">Go to the Bedtime Story Generator!</a>
      </div>
<!-- </div> -->