<h1>Team Page</h1>
<br />
<div>
  <h3>Minsung Kim</h3>
  <div>
    Hello! I am a senior at Brandeis majoring in Computer Science. Navigate to
    my page to see my GPT app! For ca02 I was in charge of creating...
  </div>
</div>
