<h1>Team Page</h1>
<br />
<div>
  <h3>Minsung Kim</h3>
  <div>
    Hello! I am a senior at Brandeis majoring in Computer Science. Navigate to
    <br />
    my page to see my app! For ca02 I was in charge of creating my own webapp<br />
    that generates custom HTML code using a description that is given by a
    user.<br />
  </div>

  <div class = "iannaIntro">
  <h3>Ianna Gilbert</h3>

    I am a rising senior at Brandeis University majoring in computer science and environmental studies!
<p> Navigate to any of my pages to learn more!</p>
<a href = "ianna_about.ejs">Ianna's abour page</a>
<a href = "ianna_app.ejs">Ianna's App</a>
  </div>
</div>
